.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card .user-id {
  font-weight: 700;
}